@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ImperialIMS</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ImperialIMS.styles.css" asp-append-version="true" />
</head>
<body class="character-morph-animation d-flex flex-column" style="min-height: 100vh;">
    <div class="tv">
        <canvas id="tv" width="1280" height="720"></canvas>
    </div>
    <nav class="navbar-expand navbar navbar-light bgCoruscantBlue border-bottom box-shadow ">
        <div class="container-fluid">
            <a class="navbar-brand text-light" asp-area="" asp-page="/Index">ImperialIMS</a>
        </div>
        <partial name="_LoginPartial" />
    </nav>
    <div class="d-flex flex-grow-1">
        <nav class="navbar border-end  flex-column align-items-start p-3 bgCoruscantBlue" style="width: 200px; align-self: stretch;">
            <ul class="navbar-nav flex-column w-100">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Search">Search</a>
                </li>
                <li class="navbar-collapse collapse">
                    <a class="nav-link text-light" asp-area="" asp-page="/Shipments">Shipments</a>
                </li>
                <li class="navbar-collapse collapse">
                    <a class="nav-link text-light" asp-area="" asp-page="/Account">Account</a>
                </li>
                @if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
                {
                <li>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Inventory">Inventory</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Item">Item</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-page="/Admin/RecycleBin">Recycle Bin</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-page="/Admin/StorageFacility">Storage Facility</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-page="/Admin/Users">Users</a></li>
                                    
                        </ul>
                    </div>
                </li>                
                }
                </ul>
        </nav>
        <div class="flex-grow-1 p-3">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
